 <!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="CSS/Main.css" />
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
   
<div class="navbar">
 
<a href="store.aspx">store</a>
  <a href="husky-webdev-app.exe">My app download (Windows onley) </a>
  <a href="Index.aspx" class="right">Home</a>
</div>

</head>
<body>

<h1>My Website</h1>
<p>A website created by me.</p>

    
<div class="row">
  <div class="side">...</div>
  <div class="main">...</div>
</div>

     <div class="footer">
  <h2>Footer</h2>
</div> 

</body>
     
</html> 