 <!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="CSS/Main.css" />
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
   
<div class="navbar">
  
    <a href="store.aspx">store</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="index.aspx" class="right">home</a>
</div>

</head>
<body>

<div id="my-store-50737319"></div>
<div>
<script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?50737319&data_platform=code&data_date=2021-04-21" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-50737319");</script>
</div>

    
<div class="row">
  <div class="side">...</div>
  <div class="main">...</div>
</div>

     <div class="footer">
  <h2>Footer</h2>
</div> 

</body>
     
</html> 